@import "tailwindcss";



:root {
	--color-bg-dark: #151515;
	--color-text-light: #ffffff;
	--color-maroon: #5a0b12;
	--container: 1200px;
}

.container {
	max-width: var(--container);
	margin-inline: auto;
	padding-inline: 24px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

h1, h2, h3,  .brandHeading {
	font-family: var(--font-heading), serif;
	letter-spacing: 0.04em;
}
